/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /   GERAL   / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */

body{
    background-color: #212121;
    font-family: 'Playfair Display';font-size: 22px;

}

.imagens{
    width: 40%;
    height: auto;
    margin-top: 150px;
}



/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /   BOTAO   / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */


.botao{
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    width: 120px;
    height: 50px;
    outline: none;
    padding: 6px 12px 6px 12px;
    margin: 30px;
    border: 0.5px solid;
    border-radius: 10px;
    background-color: #212121;
    color: greenyellow;
    border-color: greenyellow;
    transition: all 0.6s;
}

.botao:hover{
    transform: scale(1.1);
    color: yellow;
    border-color: yellow;
}


/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /   TEXTO   / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */


.obscuro{
    color: #212121;
    margin-top: 230px;
}


.obscuro1{
    color: #212121;

}

.obscuro2{
    color: #2E2E2E;
}

.textos{
    margin-top: 250px;
}


.creditos{
    color: #787878
}


.claro{
    color:gainsboro
}


.baixo{
    margin-top: 100px;
}


/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /   DIV   / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */


.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /   EXPECIFICO   / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */


#marie{
    width: 350px;
    height: 470px;
    margin-top: 150px;
}

#local{
    transition: filter 0.5s ease-in-out;
    filter: grayscale(100%); /* Inicia em preto e branco */
}

#local:hover{
    filter: grayscale(0%); /* Inicia em preto e branco */
}


#cesar{
    width: 350px;
    height: 350px;
    margin-top: 150px;
}

.muitobaixo{
    margin-top: 320px;
}




