.imagens{
    width: 550px;
    height: 350px;
    margin-top: 150px;
}

.textos{
    margin-top: 300px;
}

body{
    background-color: #212121;
    font-family: 'Playfair Display';font-size: 22px;
}

.claro{
    color:gainsboro
}

.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    margin: 20px;
}


.creditos{
    color: #787878
}


.obscuro{
    color: #212121;
    margin-top: 300px;
}
