

/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /   GERAL   / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */

body{
    background-color: #212121;
    font-family: 'Playfair Display';font-size: 22px;
}

.imagens{
    width: 550px;
    height: 350px;
    margin-top: 150px;
}



/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /   BOTAO   / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */


.btn{
    margin: 20px;
}


/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /   TEXTO   / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */


.obscuro{
    color: #212121;
    margin-top: 230px;
}


.textos{
    margin-top: 250px;
}


.creditos{
    color: #787878
}


.claro{
    color:gainsboro
}


.baixo{
    margin-top: 100px;
}



/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /   DIV   / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */


.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / /   EXPECIFICO   / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / / */
#marie{
    width: 350px;
    height: 470px;
    margin-top: 150px;
}

#cesar{
    width: 350px;
    height: 350px;
    margin-top: 150px;
}