*{
    margin: 0px;
}

.container {
    position: relative; /* Definir o contêiner como relativo para a imagem com absolute */
    width: 100%; /* Ajuste a largura do contêiner conforme necessário *//* Ajuste a altura do contêiner conforme necessário */
  }
  
  .div1, .div2 {
    background-color: lightgray;
    text-align: center;
  }
  
  .div1 {
    height: 400px;
    background-color: rgb(26, 132, 151);/* Ajuste o tamanho conforme necessário */
  }
  
  .div2 {
    height: 400px; /* Ajuste o tamanho conforme necessário */
    background-color: rgb(36, 172, 31);
  }
  
  .imagem img {
    position: absolute; /* Faz a imagem se sobrepor */
    top: 0; /* Ajuste a posição vertical */
    left: 0%; /* Centraliza a imagem horizontalmente */
    width: auto; /* Ajuste o tamanho da imagem */
    height: 800px;
  }
  